{% load static %}
{% load custom_filters %}

<header>

    <nav class="navba">
        <div class="nav-logo">
            <a href="/" style="text-decoration:none; color:#fee;">Shopyfy</a>
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart-fill"
                viewBox="0 0 16 16">
                <path
                    d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
            </svg>
        </div>

        <div class="nav-hamburger">
            <div class="line-one"></div>
            <div class="line-two"></div>
            <div class="line-three"></div>
        </div>

        {% if user.is_authenticated %}
        <div class="navba-list">
            <ul class="navba-list">
                <li><a href="/">Home</a></li>
<!--                <li><a href="{% url 'dashboard:index' %}">Dashboard</a></li>-->
                <li><a href="#">About us</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </div>
        {% endif %}

<!--        <div class="nav-sear-input">-->
<!--            <form action="">-->
<!--                <input type="search" name="search" placeholder="Search items...">-->
<!--                <button type="submit">-->
<!--                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"-->
<!--                        class="bi bi-search" viewBox="0 0 16 16">-->
<!--                        <path-->
<!--                            d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />-->
<!--                    </svg>-->
<!--                </button>-->

<!--            </form>-->
<!--        </div>-->

        {% if request.user.is_authenticated %}

        <div class="cart-and-profile">
            <div class="cart" id="cart-big-screen">
                <a href="{% url 'conversation:inbox' %}">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-envelope-fill" viewBox="0 0 16 16">
                      <path d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414.05 3.555ZM0 4.697v7.104l5.803-3.558L0 4.697ZM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586l-1.239-.757Zm3.436-.586L16 11.801V4.697l-5.803 3.546Z"/>
                    </svg>
                    <span> Inbox </span>
                </a>
            </div>

            <div class="profile" id="dashboard-big-screen">
                <a href="{% url 'dashboard:index' %}">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-person-fill" viewBox="0 0 16 16">
                        <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
                    </svg>
                    <span> Dashboard</span>
                </a>
            </div>

<!--            <div class="cart">-->
<!--                <a href="./checkout.html">-->
<!--                    <svg onclick="toggleMenu()" xmlns="http://www.w3.org/2000/svg" width="16" height="16"-->
<!--                        fill="currentColor" class="bi bi-cart-dash" viewBox="0 0 16 16">-->
<!--                        <path d="M6.5 7a.5.5 0 0 0 0 1h4a.5.5 0 0 0 0-1h-4z" />-->
<!--                        <path-->
<!--                            d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1H.5zm3.915 10L3.102 4h10.796l-1.313 7h-8.17zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0z" />-->
<!--                    </svg>-->
<!--                    <span> Cart <span class="added">0</span></span>-->
<!--                </a>-->
<!--            </div>-->
            <div class="dropdown ms-2">
              <button class=" rounded user_profile" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                  <div class="user_initails">
                     <h5 class="fw-bold pt-2">{{ user.get_full_name|initials }}</h5>
                  </div>
              </button>
                <div class="cart dropdown-menu dropdown-menu-end mt-4">
                <a href="{% url 'core:logout' %}" class="dropdown-item text-danger">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-arrow-bar-left" viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                            d="M12.5 15a.5.5 0 0 1-.5-.5v-13a.5.5 0 0 1 1 0v13a.5.5 0 0 1-.5.5zM10 8a.5.5 0 0 1-.5.5H3.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L3.707 7.5H9.5a.5.5 0 0 1 .5.5z" />
                    </svg>
                    <span> Logout</span>
                </a>

                <div class="cart" id="cart-small-screen">
                <a href="{% url 'conversation:inbox' %}"  class="dropdown-item text-danger">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-envelope-fill" viewBox="0 0 16 16">
                      <path d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414.05 3.555ZM0 4.697v7.104l5.803-3.558L0 4.697ZM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586l-1.239-.757Zm3.436-.586L16 11.801V4.697l-5.803 3.546Z"/>
                    </svg>
                    <span> Inbox </span>
                </a>
                </div>

                <div class="profile"  class="dropdown-item text-danger" id="dashboard-small-screen">
                    <a href="{% url 'dashboard:index' %}">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-person-fill" viewBox="0 0 16 16">
                            <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
                        </svg>
                        <span> Dashboard</span>
                    </a>
                </div>


            </div>
        </div>
        {% endif %}



    </nav>

</header>