{% extends 'base.html' %}
{% load static %}

{% block content %}
<div>
<section class="container detail_page">
    <div class="pb-3">
            <a href="/">Back</a>
    </div>
    <div class="row main_detail_body">
        <div class="col-xl-6 col-md-6 col-sm-12 rounded image-section">
            <img src="{{detail.image.url}}">
        </div>
        <div class="col-xl-6 col-md-6 col-sm-12 bg-light rounded p-4">
            <p>Item Name: {{detail.name}}</p>
            <p>Item Seller: {{detail.seller}}</p>
            <p>Item Price: {{detail.price}}</p>
            {% if detail.description %}
            <p>Description: {{detail.description}}</p>
            {% endif %}
            <p>Expiration Date: {{detail.expiration_date}}</p>

            <div class="py-3">
                {% if request.user == detail.seller %}
                <a href="{% url 'item:edit-items' detail.id %}" class="btn btn-lg px-4 bg-success text-light rounded">Edit Item</a>
                <a href="{% url 'item:delete-items' detail.id %}" class="btn btn-lg px-4 bg-danger text-light rounded">Delete Item</a>
                {% else %}
                <a href="{% url 'conversation:new' detail.id %}" class="btn btn-lg px-4 bg-success text-light rounded">Contact seller</a>
                {% endif %}
            </div>
        </div>
    </div>
</section>
</div>

<div>
    <section class="container related_items container" id="related_items">
        <div class="row mt-3">
        <h3>Related Items</h3>
        {% for item in related_items %}
                <div class="col-xl-3 col-md-4 col-sm-12 my-3 product-cards">
                    <div class="card my-3">
                        <div class="card-image">
                            <img src="{{item.image.url}}" class="card-img-top" alt="Item image">
                        </div>
                        <div class="card-text">
                            <a href="{% url 'item-detail' item.id %}">{{item.name}}</h4></a>
                            <p>{{item.price}}</p>
                        </div>
                    </div>
                </div>
        {% endfor %}
        </div>
    </section>
</div>


{% endblock %}