{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/static/images/favicon/cart-fill.svg" type="image/x-icon">
    <link rel="stylesheet" href="{% static './css/style.css' %}">
    <link rel="stylesheet" href="{% static './bs/bootstrap.css' %}">
    <title>Ecommerce</title>


</head>

<body class="backgroundChange-one">

    {% include 'include/navbar.html' %}

    {% block content %}


    {% endblock %}

    {% block footer %}
    {% include 'include/footer.html' %}
    {% endblock %}


    <!-- Essential Scripts=====================================-->

    <script src="{% static './script.js' %}"></script>
    <script src="{% static './bs/bootstrap.bundle.js' %}"></script>

</body>

</html>